body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 12px;
    color: #303030;
    margin: 10px;
	height:calc(100vh - 20px);
}

#table {
	display:table;
	width:100%;
/*	height:calc(100vh - 20px);*/
	border: 0px;
	margin: 0px;
}

.headerbar {
	caption-side: top;
	display: table-caption;
	text-align: center;
/*	margin: 0px;*/
	height: calc(20vh - 10px);

}
.content {
	height: calc(80vh - 10px);
}

.group {
	display: table-row-group;
/*	margin: 0px;
	border: 0px;*/
}
.row {
	display:table-row;
/*	border: 0px;
	margin: 0px;*/
}
.cell {
	display:table-cell;
	width:50%;
/*	border:1px solid grey;*/
/*	border: 0px;
	margin: 0px;*/
	padding: 5px;
	text-align: center;
}

.control-gimbal {
    position: relative;
	height: calc((80vh - 10px ) * 0.8);
	width: calc((80vh - 10px ) * 0.8);
/*	padding-right: calc((80vh - 10px ) * 0.9);*/
    background-color: #eee;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.crosshair {
    display: block;
    position: absolute;
    background-color: #ddd;
}

.crosshair-vert {
    width: 1px;
    height: 100%;
    left: 50%;
}

.crosshair-horz {
    height: 1px;
    width: 100%;
    top: 50%;
}

.gimbal-label {
    display: block;
    position: absolute;
    text-align: center;
}

.gimbal-label-horz {
    top: calc(100% + 0.5em);
    width: 100%;
}

.gimbal-label-vert {
    transform: rotate(-90deg);
    /*transform-origin:0% 100%;*/
    top: calc(50% - 0.5em);
    width: 100%;
    left: calc(-50% - 1em);
}

.control-stick {
    background-color: rgba(255, 50, 50, 1.0);
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    display: block;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
}

.control-slider {
    margin: 20px;
}

.tooltip {
    position: absolute;
    left: calc(100% + 24px);
    top: 0;
}

.control-slider .slider {
    margin-left: 50px;
    margin-right: 50px;
}

.slider-label {
    position: absolute;
    text-align: right;
    width: 40px;
    left: -65px;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

/* Battery element styling*/
.quad-status-contents  {
    display: none;
    margin-top: 10px;
    margin-left: 14px;
    height: 10px;
    width: 30px;
    /* width: 30px; */    
}

.quad-status-contents progress::-webkit-progress-bar {
    height: 12px;
    background-color: #eee;
}

.quad-status-contents progress::-webkit-progress-value {
    background-color: #bcf;
}

.battery-status {
    height: 11px;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.20);
    border-radius: 0px;
    background-color: #ffbb00;
    /* border-radius: 4px; */
    margin-top: 0px;
}

.battery-icon {
    background-image: url(images/icons/cf_icon_bat_grey.svg);
    background-size: contain;
    background-position: center;
    display: inline-block;
    height: 30px;
    width: 60px;
    transition: none;
    margin-top: 4px;
    background-repeat: no-repeat;
}

.armedicon,
.failsafeicon,
.linkicon,
.configicon,
.rxicon {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 6px;
	margin-bottom: 6px;
	display: block;
	opacity: 0.8;
	background-size: contain;
	background-position: center;
	transition: none;  
	min-height: 18px;
	min-width: 18px;
	width: calc(20vh - 22px);
	height: calc(20vh - 22px);
}

.armedicon {
	background-image: url(images/icons/cf_icon_armed_grey.svg);
}
.failsafeicon {
	background-image: url(images/icons/cf_icon_failsafe_grey.svg);
}
 
.linkicon {
	background-image: url(images/icons/cf_icon_link_grey.svg);
}

.configicon {
	background-image: url(images/icons/cf_icon_config_grey.svg);
	float: right;
}

.rxicon {
	background-image: url(images/icons/cf_icon_rx_grey.svg);
}

.rxicon.active {
	background-image: url(images/icons/cf_icon_rx_active.svg);
}

.bottomStatusIcons {
	background-color: #272727;
/*    height: 31px;
    margin-top: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
	height: 100%;
	margin: 2px;
	border-radius: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#connectUrl {
	width: 70%;
	font-size: 16px; /* Increase font-size */
	padding: 12px 16px 12px 16px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
}


